# Overwrite below configs with your environment.
token = "Your token"
guildIds = "Your server IDs separated by semicolon(;)"

# voiceServers = "http://localhost:50021#VOICEVOX;http://localhost:10101#AivisSpeech"
voiceServers = "http://localhost:50021#VOICEVOX"

voiceServerTextLengthLimit = 160

guildConfigsDir      = "./guild_configs"
guildDictionariesDir = "./guild_dictionaries"

# Default speaker configs.
defaultSpeakerEngine = "VOICEVOX"
defaultSpeakerId     = 3

defaultSpeakerSpeedScale         = 1.00
defaultSpeakerPitchScale         = 0.00
defaultSpeakerIntonationScale    = 1.00
defaultSpeakerVolumeScale        = 1.00
## for AivisSpeech only
defaultSpeakerTempoDynamicsScale = 1.0


# Ranges of speaker config value.
# Do not overwrite without a reason.
speakerSpeedScaleUpperLimit =  2.00
speakerSpeedScaleLowerLimit =  0.50

speakerPitchScaleUpperLimit =  0.15
speakerPitchScaleLowerLimit = -0.15

speakerIntonationScaleUpperLimit =  2.00
speakerIntonationScaleLowerLimit =  0.00

speakerVolumeScaleUpperLimit =  2.00
speakerVolumeScaleLowerLimit =  0.00

# for AivisSpeech only
speakerTempoDynamicsScaleUpperLimit =  2.00
speakerTempoDynamicsScaleLowerLimit =  0.00

# oher const values
samplingRate         = 44100
cooldownDuration     = 3000
autocompleteLimit    = 25
queueTimeout         = 10000
queuePollingInterval = 100
dictionaryEntryLimit = 1000
exitOnDiscordError   = true
